body{
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: center;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: space-between;
    width: 520px;
  -webkit-box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  padding: 24px;
  border-radius: 8px;
  margin: 12px auto;
  background: var(--color-background-container, #fff);
  
}
.form-control {
  font-family: inherit;
  width: 500px;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  margin: 4px;
  
    }
    .form-control:focus{
         padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e,#38ef7d);
  border-image-slice: 1;
}
    
    button{
   
    
      background-color:#0073b1;
  border:0;
  border-radius:2px;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  color:#fff;
  cursor:pointer;
  display:inline-block;
  font-size:1rem;
  font-weight:600;
  font-family:inherit;
  height:30px;
  line-height:30px;
  overflow:hidden;
  outline-width:2px;
  padding:0 24px;
  
  text-align:center;
  text-decoration:none;
  -webkit-transition-duration:167ms;
  transition-duration:167ms;
  -webkit-transition-property:background-color,color,-webkit-box-shadow;
  transition-property:background-color,color,-webkit-box-shadow;
  transition-property:background-color,box-shadow,color;
  transition-property:background-color,box-shadow,color,-webkit-box-shadow;
  -webkit-transition-timing-function:cubic-bezier(0, 0, 0.2, 1);
  transition-timing-function:cubic-bezier(0, 0, 0.2, 1);
  vertical-align:middle;
  z-index:0;
  background:var(--color-action, #0a66c2) !important;
  border-radius:28px !important
    }
    a{
background-color: rgba(0,0,0,0);
  border: 0;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #0073b1;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  font-family: inherit;
  height: 16px;
  line-height: 16px;
  overflow: hidden;
  outline-width: 2px;
  padding: 0 8px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition-duration: 167ms;
  transition-duration: 167ms;
  -webkit-transition-property: background-color,color,-webkit-box-shadow;
  transition-property: background-color,color,-webkit-box-shadow;
  transition-property: background-color,box-shadow,color;
  transition-property: background-color,box-shadow,color,-webkit-box-shadow;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  vertical-align: middle;
  z-index: 0;
  color: var(--color-action, #0a66c2) !important;
  border-radius: 28px !important;

    }
    label:focus{
  
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight:700;    
  }
    
     .form-select {
      padding: 8px;
      font-size: 16px;
      width: 200px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #fff; /* Background color when not expanded */
      color: #333; /* Text color */
    }

    /* Style for the select options */
    .form-select option {
      background-color: #fff; /* Background color for options */
      color: #333; /* Text color for options */
    }

    /* Style for the select when focused */
    .form-select:focus {
      outline: none;
      border-color: #66afe9; /* Border color when focused */
      box-shadow: 0 0 5px rgba(102, 175, 233, 0.6); /* Box shadow when focused */
    }
    .required-star {
      color: red;
      margin-left: 5px;
    }