<!-- device_mgt/templates/admin_dashboard.html -->
{% load static %}

{% extends 'base.html' %} {% block title %}Admin Dashboard{% endblock %} {% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'dashboard.css' %}" />
<h2>Welcome to the Admin Dashboard</h2>
<!-- Add your custom content here -->
        <ul>
            <li><a href="{% url 'manage_gadgets' %}">manage_gadgets</a></li>
            <li><a href="{% url 'gadget_form' %}">Gadget form</a></li>
            <li><a href="{% url 'user_form' %}">New User</a></li>
            <li><a href="{% url 'issued_gadgets' %}">Issued Gadgets</a></li>
            <p><a href="{% url 'logout' %}">Logout</a></p>
           

            <!-- Add other navigation links as needed -->
        </ul>

{% endblock %}
