{% extends 'base.html' %}   {% load static %}  {% block content %}
<link rel="stylesheet" href="{% static 'login.css' %}" />
<title>Sign In | ToDO</title>
<div class="row">
  <div class="mx-auto" style="width: 400px">
    <div class="row">
      <div class="col-sm-12 text-center">
        <img
          
          alt="logo"
          class="img-fluid mx-auto w-25"
        />
      </div>
    </div>
    <h1 class="login_title">Sign in</h1>

    <form method="post"  class="login_wrapper">
      {% csrf_token %}
      <!-- Email input -->
      <div class="form_login">
       <label for="floatingInput">Username</label>
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          name="username"
          placeholder="name@example"
        />
        
      </div>
      <div class="form_login">
       <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Password"
        />
       
      </div>
      <!--Show Password-->
      <div class="show_password">
      <div>
        <input type="checkbox" id="show-password" />
        <label  for="show-password">Show password</label>
      </div>
        <br />
      </div>
      <!-- 2 column grid layout for inline styling -->
      
        

        <div class="col_1">
         <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="form2Example31"
              checked
            />
            <label class="form-check-label" for="form2Example31">
              Remember me
            </label>
          </div>
          <!-- Simple link -->
         <div> <a href="{% url 'password_reset' %}">Forgot password?</a></div>
        </div>
      

      <!-- Submit button -->
      <button type="submit" class="btn_login">
        Sign in
      </button>

      <!-- Register buttons -->
      <div class="text-center">
        <p>Not a member? <a href="{% url 'register_user' %}" class="register">Register</a></p>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
