{{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'register.css' %}" />
<title>Sign Up | ToDO</title>

<div class="row">
    <div class="mx-auto" style="width: 400px">
       

        <h1 class="text-center">Sign Up</h1>

        <form method="post">
            {% csrf_token %}

            <div class="form-floating mb-4">
                    <label for="floatingInput">Username <span class="required-star">*</span></label>
                <input
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    name="username"
                    placeholder="Username"
                    required
                />
        
            </div>

            <div class="form-floating mb-4">
            <label for="floatingInput">Email Address <span class="required-star">*</span></label>
                <input
                    type="email"
                    class="form-control"
                    id="floatingInput"
                    name="email_address"
                    placeholder="Email Address"
                    required
                />
                
            </div>

            <div class="form-floating mb-4">
             <label for="floatingInput">First Name <span class="required-star">*</span></label>
                <input
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    name="first_name"
                    placeholder="First Name"
                    required
                />
               
            </div>

            <div class="form-floating mb-4">
             <label for="floatingInput">Last Name <span class="required-star">*</span></label>
                <input
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    name="last_name"
                    placeholder="Last Name"
                    required
                />
               
            </div>

            <div class="form-floating mb-4">
            <label for="floatingInput">Phone Number <span class="required-star">*</span></label>
                <input
                    type="tel"
                    class="form-control"
                    id="floatingInput"
                    name="phone_number"
                    placeholder="Phone Number"
                    required
                />
                
            </div>

            <div class="form-floating mb-4">
                <select class="form-select" id="floatingSelect" name="role" required>
                    <option value="regular_user" selected>Regular User</option>
                    <option value="admin">Admin</option>
                </select>
                <label for="floatingSelect">Role<span class="required-star">*</span></label>
            </div>

            <div class="form-floating mb-4">
                <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="Password"
                    required
                />
                <label for="password">Password (Required)</label>
            </div>

            <button type="submit" class="btn btn-primary btn-block w-100 mb-4">
                Submit
            </button>

            <div class="text-center">
                <p>Already a member? <a href="{% url 'login' %}">Login</a></p>
            </div>
        </form>
    </div>
</div>

{% endblock content %}

